<h1>About</h1>

<hr />

<div id="aboutContainer">

  <p>MemoryWalk.in was inspired by a friend's homesickness and has been kicking around for an idea as a while. It uses Rails and the Google Maps and YouTube API's to "simulate" a walking route using google street view panoramas.</p>

  <p>The algorithms aren't perfect yet, and it gets lost sometimes. There is also a lot of missing coverage in street view. It does what I want for now. One neat feature is that you can string id's together for a playlist. Example: /walks/1,2,3,4 will play all three walks back for you in a loop, playing any music associated with the walks to completetion.</p>

  <p>by <a href="http://twitter.com/makenai">@makenai</a></p>

</div>