/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

 #aboutContainer {
  width: 600px;
 }

#play-pause {
  display: none;
}
#play-pause.playing {
  display: inline-block;
  color: green;
}
#play-pause.playing i.icon-play { display: none; }

#play-pause.paused {
  display: inline-block;
  color: green;
}
#play-pause.paused i.icon-pause { display: none; }

 #player {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  opacity: 0.05;
 }

div.navbar {
  z-index: 101;
  position: relative;
  opacity: 0.9;
}

div.container-fluid {
  z-index: 100;
  position: relative;
}

 #map-canvas img {
  max-width: none;
}

#streetview img {
    border: none !important;
    max-width: none !important;
}

 #map-canvas { 
  height: 150px; 
  width: 200px; 
  position: absolute;
  right: 0px;
  top: 0px;
  border: 1px solid black;
  opacity: 0.65;
}

@media only screen and (max-width: 600px) {
  #map-canvas {
    display: none;
  }
}

#streetview {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#go-on {
  display: none;
  padding: 5px;
  border: 1px solid black;
  background-color: green;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
}

 #map-form-container {
  position: relative;
 }

 #map-container {
  position: relative;
  width: 100%;
  height: 100%;
 }

 #map-canvas-form {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  right: 75px;
  border: 1px solid black;
 }
